<!DOCTYPE html>
<html ng-app="DiceGame">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.4.1/angular-resource.min.js" ></script>
    <script src="dist/app.js" ></script>
    <link href="dist/style.css" rel="stylesheet" type="text/css" >
</head>
<body>

<div ng-controller="GameController" class="game">
    <ul class="game-flex" id="game-field">
        <li class="game-field" ng-class="{'game-active-field': arr[$index] }" ng-repeat="count in arr  track by $index" > {{$index+1}} </li>
    </ul>

    <ul >
        <li> statistic </li>
        <li> count: {{ stats.count }} </li>
        <li> sum: {{ stats.sum }} </li>
        <li> avg: {{ stats.avg }} </li>
        <li> game state: {{ stats.gameState }} </li>
    </ul>

    <input type="button" ng-click="nextStep()" value="nextStep" >
    <input type="button" ng-click="resetGame()" value="reset" >
    <input type="button" ng-click="saveStatistics()" value="save" >

</div>

</body>
</html>